.background {
    background-color: burlywood;
}
 .submit {
   padding-top: 11%;
   padding-right: 76%;
 }

 .feeds {
   margin: 0%;
    position: relative;
    padding-left: 50px;
    bottom: 450px;
 }

.Music {
   font-family: sans-serif;
   padding-top: 50px;
   padding-left: 50px;
}

.songtitle {
   font-family: sans-serif;
   color: black;
   padding-top: 50px;
   padding-left: 280px;
}

