.background {
    background-color: burlywood;
}

.search {
   padding-right: 945px;
   padding-top: 50px;
}

 .submit {
   padding-top: 20px;
   padding-right: 76%;
 }

.Music {
   font-family: sans-serif;
   padding-top: 50px;
   padding-left: 50px;
}

.feeds {
   margin: 0%;
   padding-left: 80px;
   bottom: 530px;
 }

.songtitle {
   font-family: sans-serif;
   color: black;
   padding-top: 50px;
   padding-left: 235px;
}